APP_BASE_URL=http://localhost:3000
SESSION_PASSWORD=replace-with-at-least-32-random-characters
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_ADMIN_ROLE_ID=
DISCORD_CAPTAIN_ROLE_ID=
RAID_HELPER_SERVER_ID=
RAID_HELPER_API_KEY=
RAID_HELPER_EVENT_ID=
RAID_HELPER_EVENT_NAME_CONTAINS=HammaBowl
